<div>
    <h2>
        {{#if isEditable}}
            <button
                    class="btn-sm btn-new"
                    type="button"
                    data-action="add-item"
                    data-item-type="software"
            >
                <i class="fas fa-plus"></i>
            </button>
        {{/if}}

        Autosofts
    </h2>

    <table>
        {{#each autosofts as |item|}}
        <tr>
            <td>
                {{#if ../isEditable}}
                <button class="btn-sm btn-danger" data-action="delete-item" data-item-id="{{ item.data._id }}" type="button">
                    <i class="fas fa-trash"></i>
                </button>

                <button class="btn-sm btn-edit" data-action="edit-item" data-item-id="{{ item.data._id }}" type="button">
                    <i class="fas fa-edit"></i>
                </button>
                {{/if}}

                {{ item.data.name }}
            </td>

            <td class="gear-stats">
                {{#if item.data.data.rating}}
                <div>
                    Rating: {{ item.data.data.rating }}
                </div>
                {{/if}}

                {{{render_gear ../actor item}}}
            </td>
        </tr>
        {{/each}}
    </table>
</div>