<div>
    {{#if item.data.data.equipped}}
        Equipped
    {{else}}
        Unequipped
    {{/if}}
</div>
<div>DP: {{ item.data.data.data_processing }}</div>
<div>FW: {{ item.data.data.firewall }}</div>
<div>Programs: {{ item.data.data.program_slots }}</div>