<div>
    {{#if item.data.data.equipped}}
    Equipped
    {{else}}
    Unequipped
    {{/if}}
</div>
<div>A: {{ item.data.data.attack }}</div>
<div>S: {{ item.data.data.sleaze }}</div>
<div>Programs: {{ item.data.data.program_slots }}</div>