<div>
    {{#if item.data.data.equipped}}
    Equipped
    {{else}}
    Unequipped
    {{/if}}
</div>
<div>
    Blast: {{ item.data.data.blast }}
</div>

<div>
    DV:
    {{ item.data.data.dv.gz }}
    /
    {{ item.data.data.dv.close }}
    /
    {{ item.data.data.dv.near }}
</div>