<div>
    {{ item.data.data.range }}
    {{#if item.data.data.area}}
        (A)
    {{/if}}
</div>

<div>
    {{ item.data.data.type }}
</div>

<div>
    {{ item.data.data.duration }}
</div>

<div>
    {{ item.data.data.drain }}DV
</div>