<div>
    Handling: {{ item.data.data.handling.onroad }} / {{ item.data.data.handling.offroad }}
</div>
<div>
    Accel: {{ item.data.data.acceleration }}
</div>
<div>
    Speed: {{ item.data.data.speed.interval }} / {{ item.data.data.speed.top }}
</div>
