<div>
    {{#if item.data.data.equipped}}
    Equipped
    {{else}}
    Unequipped
    {{/if}}
</div>
<div>
    Ammo: {{ item.data.data.ammo }}
</div>
<div>
    DV: {{ item.data.data.dv }}
</div>

{{#if item.data.data.modes}}
    <div>
        ({{ item.data.data.modes }})
    </div>
{{/if}}

<div>
    {{ item.data.data.attack_ratings.close }}
    /
    {{ item.data.data.attack_ratings.near }}
    /
    {{ item.data.data.attack_ratings.medium }}
    /
    {{ item.data.data.attack_ratings.far }}
    /
    {{ item.data.data.attack_ratings.extreme }}
</div>