.d-block {
    display: block;
}

h2 {
    line-height: 40px;
}

input.numeric-input {
    width: 3em;
}

button.btn-sm {
    width: auto;
    font-size: 10px;
    padding: 0 3px 0 7px;
}

.attributes {
    margin-top: 10px;
    margin-bottom: 10px;
}

.attributes .label {
    display: inline-block;
    width: 67px;
}

.text-right {
    text-align: right;
}

.gear-stats > div {
    display: inline-block;
    width: 20%;
    margin-right: 5px;
}

.mr-1 {
    margin-right: 10px;
}

.ml-1 {
    margin-left: 10px;
}

.mr-2 {
    margin-right: 20px;
}

.ml-2 {
    margin-left: 20px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mt-1 {
    margin-top: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mt-2 {
    margin-top: 20px;
}

/* theme */
.window-app .window-content {
    background: rgba(0, 0, 0, 0.3);
}

.window-app .window-content,
.window-app .window-content button,
.window-app .window-content textarea,
.window-app .window-content select,
.window-app .window-content input {
    color: rgb(200, 200, 255);
}

/* nasty built in colors that need overriding */
#module-management .package-list .package-title, #module-management .package-list .package-metadata, #module-management .package-list .package-description {
    color: rgb(200, 200, 255);
}

.col-attributes label {
    min-width: 185px;
}

.col-attributes .modifier {
    line-height: 27px;
}

.col-qualities,
.col-skills {
    min-width: 250px;
}

.col-cyberware {
    min-width: 250px;
}

.btn-danger {
    background-color: rgba(225, 166, 166, 0.6);
}

.btn-roll {
    background-color: rgba(166, 166, 255, 0.6);
}

.btn-edit,
.btn-new {
    background-color: rgba(166, 255, 166, 0.6);
}

.tox-tinymce {
    min-height: 300px;
    background-color: white;
    color: black;
}

.tox-tinymce a {
    color: blue;
}

.attributes-grid {
    display: grid;
    grid-template-columns: max-content auto max-content auto max-content auto max-content auto;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}

.augments-grid {
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
}

.augments-grid > div {
    line-height: 32px;
}

.button-grid {
    display: grid;
    grid-template-columns: max-content auto;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}

.button-grid .grid-value {
    line-height: 32px;
}

.kv {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    grid-template-columns: max-content auto;
}

.kv-key {
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: right;
    font-weight: bold;
}

.kv-key-for-input {
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: right;
    font-weight: bold;
    line-height: 27px;
}

.kv-value {
    grid-column-start: 2;
    grid-column-end: 2;
}

.die {
    display: inline-block;
    margin-right: 5px;
    padding: 0 5px;
    border: 1px solid black;
}

.wild-die {
    border-color: red;
    font-weight: bold;
}