<div>
    {{#if isEditable}}
        <button
            class="btn-sm btn-roll"
            type="button"
            data-action="roll"
            data-pool="attributes.{{ attribute }}"
        >
            <i class="fas fa-dice"></i>
        </button>
    {{/if}}

    <label>
        {{ attribute }}:
    </label>
</div>
<div>
    <input type="number" class="numeric-input" name="data.attributes.{{ attribute }}.value" value="{{ value.value }}" />
    <span class="modifier" title="{{ value.raw_modifier }}">
        {{ value.modifier }}
    </span>
    = {{ value.total }}
</div>