<div class="col-condition-monitors mb-2">
    <h2>
        Condition Monitors
    </h2>

    <div class="kv">
        <div class="kv-value" style="font-weight: bold;">
            Physical
        </div>

        <div class="kv-key-for-input">

        </div>
        <div class="kv-value">
            <input type="number" class="numeric-input" name="data.condition_physical.value" value="{{ actor.data.condition_physical.value }}" />
            /
            <input type="number" class="numeric-input" name="data.condition_physical.max" value="{{ actor.data.condition_physical.max }}" />
        </div>

        <div class="kv-key-for-input">
            Agony:
        </div>
        <div class="kv-value">
            <input type="number" class="numeric-input" name="data.condition_physical.agony" value="{{ actor.data.condition_physical.agony }}" />
        </div>

        <div class="kv-key">
            Penalty:
        </div>
        <div class="kv-value">
            ({{ actor.data.condition_physical.penalty }})
        </div>

        <div class="kv-value" style="font-weight: bold;">
            Stun
        </div>
        <div class="kv-key-for-input">

        </div>
        <div class="kv-value">
            <input type="number" class="numeric-input" name="data.condition_stun.value" value="{{ actor.data.condition_stun.value }}" />
            /
            <input type="number" class="numeric-input" name="data.condition_stun.max" value="{{ actor.data.condition_stun.max }}" />
        </div>

        <div class="kv-key-for-input">
            Agony:
        </div>
        <div class="kv-value">
            <input type="number" class="numeric-input" name="data.condition_stun.agony" value="{{ actor.data.condition_stun.agony }}" />
        </div>

        <div class="kv-key">
            Penalty:
        </div>
        <div class="kv-value">
            ({{ actor.data.condition_stun.penalty }})
        </div>

    </div>
</div>