<div class="col-contacts mb-2">
    <h2>
        {{#if isEditable}}
            <button
                class="btn-sm btn-new"
                type="button"
                data-action="add-item"
                data-item-type="contact"
            >
                <i class="fas fa-plus"></i>
            </button>
        {{/if}}

        Contacts
    </h2>

    <div class="button-grid">
        {{#each contacts as |contact id|}}
            <div class="grid-buttons">
                {{#if ../isEditable}}
                    <button class="btn-sm btn-danger" data-action="delete-item" data-item-id="{{ contact.data._id }}" type="button">
                        <i class="fas fa-trash"></i>
                    </button>

                    <button class="btn-sm btn-edit" data-action="edit-item" data-item-id="{{ contact.data._id }}" type="button">
                        <i class="fas fa-edit"></i>
                    </button>
                {{/if}}
            </div>
            <div class="grid-value">
                {{ contact.data.name }}
                ({{ contact.data.data.type }})
                -
                C:{{ contact.data.data.connection }}
                L:{{ contact.data.data.loyalty }}
            </div>
        {{/each}}
    </div>
</div>