<div class="col-cyberware mb-2">
    <h2>
        {{#if isEditable}}
            <button
                class="btn-sm btn-new"
                type="button"
                data-action="add-item"
                data-item-type="cyberware"
            >
                <i class="fas fa-plus"></i>
            </button>
        {{/if}}
        Cyberware
    </h2>

    <div class="augments-grid">
        {{#each cyberware as |item id|}}
            <div>
                {{#if ../isEditable}}
                <button class="btn-sm btn-danger" data-action="delete-item" data-item-id="{{ item.data._id }}" type="button">
                    <i class="fas fa-trash"></i>
                </button>

                <button class="btn-sm btn-edit" data-action="edit-item" data-item-id="{{ item.data._id }}" type="button">
                    <i class="fas fa-edit"></i>
                </button>
                {{/if}}

                {{ item.data.name }}
            </div>
            <div>
                {{#if item.data.data.active}}
                    Active
                {{else}}
                    Inactive
                {{/if}}
            </div>
            <div>{{ item.data.data.grade }} grade</div>
            <div>
                {{#if item.data.data.rating}}
                    Rating: {{ item.data.data.rating }}
                {{/if}}
            </div>

        {{/each}}
    </div>
</div>