<div class="col-gear mb-2">
    <h2>
        Gear
    </h2>

    {{#if isEditable}}
        <div class="mb-2">
            {{#each gearTypes as |name type|}}
                <button
                        class="btn-sm btn-new"
                        type="button"
                        data-action="add-item"
                        data-item-type="{{ type }}"
                >
                    <i class="fas fa-plus"></i> {{ name }}
                </button>
            {{/each}}
        </div>
    {{/if}}

    {{#each gear as |item index|}}
    <div>
        {{#if ../isEditable}}
            <button class="btn-sm btn-danger" data-action="delete-item" data-item-id="{{ item.data._id }}" type="button">
                <i class="fas fa-trash"></i>
            </button>

            <button class="btn-sm btn-edit" data-action="edit-item" data-item-id="{{ item.data._id }}" type="button">
                <i class="fas fa-edit"></i>
            </button>
        {{/if}}

        {{ item.data.name }}

        <div class="ml-2 flexrow">
            {{#if item.data.data.rating}}
                <div>
                    Rating: {{ item.data.data.rating }}
                </div>
            {{/if}}

            {{{render_gear ../actor item}}}
        </div>
    </div>
    {{/each}}
</div>