<div class="col-initiative mb-2">
    <h2>
        Misc
    </h2>

    <div class="kv">
        <div class="kv-key-for-input">
            Initiative Dice:
        </div>
        <div class="kv-value">
            <input type="number" class="numeric-input" name="data.initiative.dice" value="{{ actor.data.initiative.dice }}" />d6
        </div>

        <div class="kv-key-for-input">
            Initiative:
        </div>
        <div class="kv-value">
            {{ actor.data.initiative.calculated }}
            +
            <input type="number" class="numeric-input" name="data.initiative.modifier" value="{{ actor.data.initiative.modifier }}" />
            =
            {{ actor.data.initiative.total }}
        </div>

        <div class="kv-key-for-input">
            Edge:
        </div>
        <div class="kv-value">
            <input type="number" class="numeric-input" name="data.edge.value" value="{{ actor.data.edge.value }}" />
            /
            {{ actor.data.edge.max }}
        </div>

        <div class="kv-key">
            Defense Rating:
        </div>
        <div class="kv-value">
            {{ actor.data.defenseRating.value }}
        </div>
    </div>

    <div class="button-grid">

        <div class="grid-buttons">
            {{#if isEditable}}
            <button
                    class="btn-sm btn-roll"
                    type="button"
                    data-roll-name="Dodge"
                    data-action="roll"
                    data-pool="attributes.Reaction+attributes.Intuition"
            >
                <i class="fas fa-dice"></i>
            </button>
            {{/if}}
        </div>
        <div class="grid-value">
            Dodge: {{ actor.data.dodge }}
        </div>

        <div class="grid-buttons">
            {{#if isEditable}}
            <button
                    class="btn-sm btn-roll"
                    type="button"
                    data-roll-name="Soak"
                    data-action="roll"
                    data-pool="attributes.Body"
                    data-wound-penalties="0"
            >
                <i class="fas fa-dice"></i>
            </button>
            {{/if}}
        </div>
        <div class="grid-value">
            Soak Damage: {{ actor.data.soak_damage }}
        </div>

        {{#if actor.data.settings.drain_attribute}}
            <div class="grid-buttons">
                {{#if isEditable}}
                <button
                        class="btn-sm btn-roll"
                        type="button"
                        data-roll-name="Soak Drain"
                        data-action="roll"
                        data-pool="attributes.Willpower+attributes.{{ actor.data.settings.drain_attribute }}"
                >
                    <i class="fas fa-dice"></i>
                </button>
                {{/if}}
            </div>
            <div class="grid-value">
                Soak Drain: {{ actor.data.soak_drain }}
            </div>
        {{/if}}

        <div class="grid-buttons">
            {{#if isEditable}}
            <button
                    class="btn-sm btn-roll"
                    type="button"
                    data-roll-name="Composure"
                    data-action="roll"
                    data-pool="attributes.Willpower+attributes.Charisma"
            >
                <i class="fas fa-dice"></i>
            </button>
            {{/if}}
        </div>
        <div class="grid-value">
            Composure: {{ actor.data.composure }}
        </div>

        <div class="grid-buttons">
            {{#if isEditable}}
            <button
                    class="btn-sm btn-roll"
                    type="button"
                    data-roll-name="Judge Intentions"
                    data-action="roll"
                    data-pool="attributes.Willpower+attributes.Intuition"
            >
                <i class="fas fa-dice"></i>
            </button>
            {{/if}}
        </div>
        <div class="grid-value">
            Judge Intentions: {{ actor.data.judge }}
        </div>

        <div class="grid-buttons">
            {{#if isEditable}}
            <button
                    class="btn-sm btn-roll"
                    type="button"
                    data-roll-name="Memory"
                    data-action="roll"
                    data-pool="attributes.Logic+attributes.Intuition"
            >
                <i class="fas fa-dice"></i>
            </button>
            {{/if}}
        </div>
        <div class="grid-value">
            Memory: {{ actor.data.memory }}
        </div>

        <div class="grid-buttons">
            {{#if isEditable}}
            <button
                    class="btn-sm btn-roll"
                    type="button"
                    data-roll-name="Lift/Carry"
                    data-action="roll"
                    data-pool="attributes.Body+attributes.Willpower"
            >
                <i class="fas fa-dice"></i>
            </button>
            {{/if}}
        </div>
        <div class="grid-value">
            Lift/Carry: {{ actor.data.lift }}
        </div>
    </div>

</div>