<div class="col-qualities mb-2">
    <h2>
        {{#if isEditable}}
            <button
                    class="btn-sm btn-new"
                    type="button"
                    data-action="add-item"
                    data-item-type="quality"
            >
                <i class="fas fa-plus"></i>
            </button>
        {{/if}}

        Qualities
    </h2>

    {{#each qualities as |quality id|}}
    <div>
        {{#if ../isEditable}}
            <button class="btn-sm btn-danger" data-action="delete-item" data-item-id="{{ quality.data._id }}" type="button">
                <i class="fas fa-trash"></i>
            </button>

            <button class="btn-sm btn-edit" data-action="edit-item" data-item-id="{{ quality.data._id }}" type="button">
                <i class="fas fa-edit"></i>
            </button>
        {{/if}}

        {{ quality.data.name }}
        {{#if quality.data.data.level }}
        {{ quality.data.data.level }}
        {{/if}}
    </div>
    {{/each}}
</div>