<div class="col-settings kv">

    <div class="kv-key-for-input">
        <label for="{{field_id actor 'drain_attribute'}}">
            Drain Attribute:
        </label>

    </div>
    <div class="kv-value">
        <select name="data.settings.drain_attribute" id="{{field_id actor 'drain_attribute'}}">
            {{#select actor.data.settings.drain_attribute}}
                <option value=""></option>
                <option value="Logic">Logic</option>
                <option value="Charisma">Charisma</option>
            {{/select}}
        </select>
    </div>

</div>