<div class="col-skills mb-2">
    <h2>
        {{#if isEditable}}
            <button
                    class="btn-sm btn-new"
                    type="button"
                    data-action="add-item"
                    data-item-type="skill"
            >
                <i class="fas fa-plus"></i>
            </button>
        {{/if}}

        Skills
    </h2>

    {{#each skills as |skill index|}}
    <div class="mb-1 button-grid">
        <div class="grid-buttons">
            {{#if ../isEditable}}
                <button class="btn-sm btn-danger" data-action="delete-item" data-item-id="{{ skill.data._id }}" type="button">
                    <i class="fas fa-trash"></i>
                </button>

                <button class="btn-sm btn-edit" data-action="edit-item" data-item-id="{{ skill.data._id }}" type="button">
                    <i class="fas fa-edit"></i>
                </button>

                <button class="btn-sm btn-roll" data-action="roll" data-pool="{{ skill.data.data.attribute }}+skills.{{ skill.data.name }}" type="button">
                    <i class="fas fa-dice"></i>
                </button>
            {{/if}}
        </div>

        <div class="">
            {{ skill.data.name }}
            ({{ skill.data.data.ranks }})

            {{#if skill.data.data.specialisation}}
                <div>({{ skill.data.data.specialisation }} +2)</div>
            {{/if}}

            {{#if skill.data.data.expertise}}
                <div>({{ skill.data.data.expertise }} +3)</div>
            {{/if}}
        </div>

    </div>
    {{/each}}
</div>