<form role="form">
    <label style="display: block;" class="mb-1">
        <span>Modifier:</span>
        <input class="numeric-input" type="number" name="modifier" value="0" />
    </label>

    <label style="display: block;" class="mb-1">
        <span>Specialisation:</span>
        <input type="checkbox" name="specialisation" value="1" />
    </label>

    <label style="display: block;" class="mb-1">
        <span>Expertise:</span>
        <input type="checkbox" name="expertise" value="1" />
    </label>

    <label style="display: block;" class="mb-1">
        <span>Ignore wound penalties:</span>
        <input type="checkbox" name="ignoreWoundPenalties" value="1" {{checked options.ignoreWoundPenalties}} />
    </label>

    <label style="display: block;" class="mb-1">
        <span>Wild die:</span>
        <input type="checkbox" name="wildDie" value="1" />
    </label>

    <label style="display: block;" class="mb-1">
        <span>6's explode:</span>
        <input type="checkbox" name="explodeSizes" value="1" />
    </label>

    <label style="display: block;" class="mb-1">
        <span>2's Glitch:</span>
        <input type="checkbox" name="twosGlitch" value="1" />
    </label>
</form>