<form role="form">
<!--
    <label style="display: block;" class="mb-1">
        <span>Re-roll dice (1 edge):</span>
        <input type="radio" name="edge_action" value="reroll_dice" />
    </label>

    <label style="display: block;" class="mb-1 ml-2">
        <span>Reroll the wild die:</span>
        <input type="checkbox" name="reroll_wild" value="1" />
    </label>

    <label style="display: block;" class="mb-1">
        <span>Add 1 to a single dice (2 edge):</span>
        <input type="radio" name="edge_action" value="add_one" />
    </label>

    <label style="display: block;" class="mb-1 ml-2">
        <span>Add to the wild die:</span>
        <input type="checkbox" name="add_to_wild" value="1" />
    </label>
-->
    <label style="display: block;" class="mb-1">
        <span>Add 1 hit (3 edge):</span>
        <input type="radio" name="edge_action" value="add_hit" />
    </label>

    <label style="display: block;" class="mb-1">
        <span>Re-roll all failed dice (4 edge):</span>
        <input
            type="radio"
            name="edge_action"
            value="reroll_failed"
            {{#if disableRerollFailures }}
            disabled
            {{/if}}
        />
    </label>

    <label style="display: block;" class="mb-1">
        <span>Number of times:</span>
        <input type="text" class="numeric-input" name="qty" value="1" />
    </label>
</form>