<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ actor.img }}" style="height: auto; max-width: 100px; " title="{{ actor.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'example.NAME' }}" />
            </h1>
        </section>
    </header>

    <section class="sheet-body mb-2">
        <div class="flexrow">
            <div class="kv">

                <div class="kv-key-for-input">
                    <label for="{{field_id actor 'driver'}}">
                        Driver:
                    </label>
                </div>
                <div class="kv-value">
                    <select id="{{field_id actor 'driver'}}" name="data.driver">
                        {{#select actor.data.driver}}
                            <option value=""></option>
                            {{#each characters as |character|}}
                                <option value="{{ character._id }}">{{ character.name }}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>

                <div class="kv-key-for-input">
                    <label for="{{field_id actor 'type'}}">
                        Type:
                    </label>
                </div>
                <div class="kv-value">
                    <select id="{{field_id actor 'type'}}" name="data.type">
                        {{#select actor.data.type}}
                        <option value="bike">Bike</option>
                        <option value="car">Car</option>
                        <option value="truck">Truck/Van</option>
                        <option value="boat">Boat</option>
                        <option value="submarine">Submarine</option>
                        <option value="fixed-wing">Fixed-Wing Aircraft</option>
                        <option value="rotor">Rotorcraft</option>
                        <option value="vtol">VTOL/VSTOL</option>
                        <option value="micro">Micro Drone</option>
                        <option value="mini">Mini Drone</option>
                        <option value="small">Small Drone</option>
                        <option value="medium">Medium Drone</option>
                        <option value="large">Large Drone</option>
                        {{/select}}
                    </select>
                </div>

                <div class="kv-key-for-input">
                    <label for="{{field_id actor 'handling_onroad'}}">
                        Handling (Onroad):
                    </label>
                </div>
                <div class="kv-value">
                    <input type="number" id="{{field_id actor 'handling_onroad'}}" class="numeric-input" name="data.handling.onroad" value="{{ actor.data.handling.onroad }}" />
                </div>

                <div class="kv-key-for-input">
                    <label for="{{field_id actor 'handling_offroad'}}">
                        Handling (Offroad):
                    </label>
                </div>
                <div class="kv-value">
                    <input type="number" id="{{field_id actor 'handling_offroad'}}" class="numeric-input" name="data.handling.offroad" value="{{ actor.data.handling.offroad }}" />
                </div>

                <div class="kv-key-for-input">
                    <label for="{{field_id actor 'acceleration'}}">
                        Acceleration:
                    </label>
                </div>
                <div class="kv-value">
                    <input type="number" id="{{field_id actor 'acceleration'}}" class="numeric-input" name="data.acceleration" value="{{ actor.data.acceleration }}" />
                </div>

                <div class="kv-key-for-input">
                    <label for="{{field_id actor 'speed_interval'}}">
                        Speed (Interval):
                    </label>
                </div>
                <div class="kv-value">
                    <input type="number" id="{{field_id actor 'speed_interval'}}" class="numeric-input" name="data.speed.interval" value="{{ actor.data.speed.interval }}" />
                </div>

                <div class="kv-key-for-input">
                    <label for="{{field_id actor 'speed_top'}}">
                        Speed (Top):
                    </label>
                </div>
                <div class="kv-value">
                    <input type="number" id="{{field_id actor 'speed_top'}}" class="numeric-input" name="data.speed.top" value="{{ actor.data.speed.top }}" />
                </div>

                <div class="kv-key-for-input">
                    <label for="{{field_id actor 'speed_current'}}">
                        Speed (Current):
                    </label>
                </div>
                <div class="kv-value">
                    <input type="number" id="{{field_id actor 'speed_current'}}" class="numeric-input" name="data.speed.current" value="{{ actor.data.speed.current }}" />
                    (Penalty {{ actor.data.speed.penalty }})
                </div>

                <div class="kv-key-for-input">
                    <label for="{{field_id actor 'body'}}">
                        Body
                    </label>
                </div>
                <div class="kv-value">
                    <input type="number" id="{{field_id actor 'body'}}" class="numeric-input" name="data.body" value="{{ actor.data.body }}" />
                </div>

                <div class="kv-key-for-input">
                    <label for="{{field_id actor 'armour'}}">
                        Armour
                    </label>
                </div>
                <div class="kv-value">
                    <input type="number" id="{{field_id actor 'armour'}}" class="numeric-input" name="data.armour" value="{{ actor.data.armour }}" />
                </div>

                <div class="kv-key-for-input">
                    <label for="{{field_id actor 'pilot'}}">
                        Pilot
                    </label>
                </div>
                <div class="kv-value">
                    <input type="number" id="{{field_id actor 'pilot'}}" class="numeric-input" name="data.pilot" value="{{ actor.data.pilot }}" />
                </div>

                <div class="kv-key-for-input">
                    <label for="{{field_id actor 'sensor'}}">
                        Sensor
                    </label>
                </div>
                <div class="kv-value">
                    <input type="number" id="{{field_id actor 'sensor'}}" class="numeric-input" name="data.sensor" value="{{ actor.data.sensor }}" />
                </div>

                <div class="kv-key-for-input">
                    <label for="{{field_id actor 'seats'}}">
                        Seats
                    </label>
                </div>
                <div class="kv-value">
                    <input type="number" id="{{field_id actor 'seats'}}" class="numeric-input" name="data.seats" value="{{ actor.data.seats }}" />
                </div>
            </div>

            <div>
                {{{partial 'vehicle/autosofts.html' }}}
                {{{partial 'vehicle/weapons.html' }}}
            </div>
        </div>

        <label class="d-block">
            <span class="label">Notes:</span>
            <textarea name="data.notes">{{ actor.data.notes }}</textarea>
        </label>

        <label class="d-block">
            <span class="label">Description:</span>
            <textarea name="data.description">{{ actor.data.description }}</textarea>
        </label>
    </section>
</form>