<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow mb-2">
        <img class="profile" src="{{ actor.img }}" style="height: auto; max-width: 100px; " title="{{ actor.name }}" data-edit="img" />

        <section class="header-details">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'example.NAME' }}" />
            </h1>

            <div class="flexrow">

                <div>
                    Karma (earnt/spent):
                    <input name="data.karma.earnt" class="numeric-input" type="number" value="{{actor.data.karma.earnt}}" />
                    <input name="data.karma.spent" class="numeric-input" type="number" value="{{actor.data.karma.spent}}" />
                    ({{ actor.data.karma.available }})
                </div>

                <div>
                    Nuyen:
                    <input name="data.nuyen" class="numeric-input" type="number" value="{{actor.data.nuyen}}" />
                    ¥
                </div>

            </div>
        </section>
    </header>

    <nav class="sheet-navigation tabs mb-2" data-group="primary">
        <a class="item active" data-tab="tab-1">Character</a>
        <a class="item" data-tab="tab-2">Gear</a>
        <a class="item" data-tab="tab-3">Description</a>
        {{#if isEditable}}
            <a class="item" data-tab="tab-4">Settings</a>
        {{/if}}
    </nav>

    <section class="sheet-body mb-2">
        <div class="tab tab-1" data-group="primary" data-tab="tab-1">
            {{{ partial 'character/attributes.html' }}}

            <div class="flexrow">
                <div>
                    {{{ partial 'character/skills.html' }}}
                </div>

                <div>
                    {{{ partial 'character/qualities.html' }}}
                    {{{ partial 'character/contacts.html' }}}
                    {{{ partial 'character/knowledges.html' }}}
                </div>

                <div>
                    {{{ partial 'character/condition-monitors.html' }}}
                    {{{ partial 'character/misc.html' }}}
                </div>

            </div>

            {{{ partial 'character/cyberware.html' }}}

        </div>

        <div class="tab tab-2" data-tab="tab-2">
            {{{ partial 'character/gear-by-type.html' }}}
        </div>

        <div class="tab tab-3" data-tab="tab-3">
            <label class="d-block">
                Description:
                <textarea name="data.description">
                    {{ actor.data.description }}
                </textarea>
            </label>
        </div>

        <div class="tab tab-4" data-tab="tab-4">
            {{{ partial 'character/settings.html' }}}
        </div>
    </section>
</form>