<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" style="height: auto; max-width: 100px; " title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'example.NAME' }}" />
            </h1>
        </section>
    </header>

    <section class="sheet-body mb-2">

        <label class="d-block">
            <span class="label">Equipped:</span>
            <input
                    type="checkbox"
                    {{#if item.data.equipped}}
                        checked="checked"
                    {{/if}}
                    name="data.equipped" value="1"
            />
        </label>

        <label class="d-block">
            <span class="label">Rating:</span>
            <input type="number" class="numeric-input" name="data.rating" value="{{ item.data.rating }}" />
        </label>

        <label class="d-block">
            <span class="label">Data Processing:</span>
            <input type="number" class="numeric-input" name="data.data_processing" value="{{ item.data.data_processing }}" />
        </label>

        <label class="d-block">
            <span class="label">Firewall:</span>
            <input type="number" class="numeric-input" name="data.firewall" value="{{ item.data.firewall }}" />
        </label>

        <label class="d-block">
            <span class="label">Program Slots:</span>
            <input type="number" class="numeric-input" name="data.program_slots" value="{{ item.data.program_slots }}" />
        </label>

        <label class="d-block">
            <span class="label">Description:</span>
            <textarea name="data.description">{{ item.data.description }}</textarea>
        </label>

    </section>
</form>