<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" style="height: auto; max-width: 100px; " title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'example.NAME' }}" />
            </h1>
        </section>
    </header>

    <section class="sheet-body mb-2">
        {{#if actor}}
            <label class="d-block">
                <span class="label">Job:</span>
                <input type="text" name="data.type" value="{{ item.data.type }}" />
            </label>

            <label class="d-block">
                <span class="label">Connection:</span>
                <input type="number" class="numeric-input" name="data.connection" value="{{ item.data.connection }}" />
            </label>

            <label class="d-block">
                <span class="label">Loyalty:</span>
                <input type="number" class="numeric-input" name="data.loyalty" value="{{ item.data.loyalty }}" />
            </label>
        {{/if}}

        <label class="d-block">
            <span class="label">Description:</span>
            <textarea name="data.description">{{ item.data.Description }}</textarea>
        </label>

    </section>
</form>