<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" style="height: auto; max-width: 100px; " title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'example.NAME' }}" />
            </h1>
        </section>
    </header>

    <section class="mb-2 mt-2">
        <label class="d-block">
            <span class="label">Location:</span>
            <select name="data.location">
                {{#select item.data.location}}
                <option value="head">Head</option>
                <option value="torso">Torso</option>
                <option value="right-arm">Right Arm</option>
                <option value="left-arm">Left Arm</option>
                <option value="right-leg">Right Leg</option>
                <option value="left-leg">Left Leg</option>
                {{/select}}
            </select>
        </label>

        <label class="d-block">
            <span class="label">Capacity:</span>
            <input type="number" name="data.capacity" value="{{ item.data.capacity }}" />
        </label>

        <label class="d-block">
            <span class="label">Essence cost (Standard):</span>
            <input type="number" name="data.essence" value="{{ item.data.essence }}" />
        </label>

        {{#if actor}}
            <label class="d-block">
                <span class="label">Grade:</span>
                <select name="data.grade">
                    {{#select item.data.grade}}
                    <option value="used">Used</option>
                    <option value="standard">Standard</option>
                    <option value="alpha">Alphaware</option>
                    <option value="beta">Betaware</option>
                    <option value="delta">Deltaware</option>
                    {{/select}}
                </select>
            </label>

            <label class="d-block">
                <span class="label">Rating:</span>
                <input type="number" name="data.rating" value="{{ item.data.rating }}" />
            </label>

            <label class="d-block">
                <span class="label">Active:</span>
                <input type="checkbox" name="data.active" value="1" {{ checked item.data.active }} />
            </label>
        {{/if}}

        <label class="d-block">
            <span class="label">Effects:</span>
            <textarea name="data.effects">{{ item.data.effects }}</textarea>
        </label>

        <label class="d-block">
            <span class="label">Description:</span>
            <textarea name="data.description">{{ item.data.description }}</textarea>
        </label>
    </section>
</form>