<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" style="height: auto; max-width: 100px; " title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'example.NAME' }}" />
            </h1>
        </section>
    </header>

    <section class="sheet-body mb-2">

        <div class="kv">
            <div class="kv-key-for-input">
                <label for="{{field_id item 'official'}}">
                    Official:
                </label>
            </div>
            <div class="kv-value">
                <input type="checkbox" value="1" name="data.official" id="{{field_id item 'official'}}" data-dtype="Boolean" {{checked item.data.official}} />
            </div>

            <div class="kv-key-for-input">
                <label for="{{field_id item 'rating'}}">
                    Rating:
                </label>
            </div>
            <div class="kv-value">
                <select id="{{field_id item 'rating'}}" name="data.rating">
                    {{#select item.data.rating}}
                    <option value="0"></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    {{/select}}
                </select>
            </div>
        </div>

        <label class="d-block">
            <span class="label">Licenses:</span>
            <textarea name="data.licenses">{{ item.data.licenses }}</textarea>
        </label>

        <label class="d-block">
            <span class="label">Description:</span>
            <textarea name="data.description">{{ item.data.Description }}</textarea>
        </label>

    </section>
</form>