<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" style="height: auto; max-width: 100px; " title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'example.NAME' }}" />
            </h1>
        </section>
    </header>

    <section class="sheet-body mb-2">

        <label class="d-block">
            <span class="label">Description:</span>
            <textarea name="data.description">{{ item.data.description }}</textarea>
        </label>

    </section>
</form>