<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" style="height: auto; max-width: 100px; " title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'example.NAME' }}" />
            </h1>
        </section>
    </header>

    <section class="mb-2 mt-2">
        {{#if hasRanks}}
            <label class="d-block">
                <span class="label">Ranks:</span>
                <input type="number" class="numeric-input" name="data.ranks" value="{{ item.data.ranks }}" />
            </label>
        {{/if}}
        {{#if hasSpecialisation}}
            <label class="d-block">
                <span class="label">Specialisation:</span>
                <input type="text" name="data.specialisation" value="{{ item.data.specialisation }}" />
            </label>

            <label class="d-block">
                <span class="label">Expertise:</span>
                <input type="text" name="data.expertise" value="{{ item.data.expertise }}" />
            </label>
        {{/if}}
        <label class="d-block">
            <span class="label">Attribute:</span>
            <select name="data.attribute">
                {{#select item.data.attribute}}
                    <option value="attributes.Body">Body</option>
                    <option value="attributes.Agility">Agility</option>
                    <option value="attributes.Reaction">Reaction</option>
                    <option value="attributes.Strength">Strength</option>
                    <option value="attributes.Willpower">Willpower</option>
                    <option value="attributes.Logic">Logic</option>
                    <option value="attributes.Intuition">Intuition</option>
                    <option value="attributes.Charisma">Charisma</option>
                    <option value="attributes.Special">Magic/Resonance</option>
                {{/select}}
            </select>
        </label>

        <label class="d-block">
            <span class="label">Description:</span>
            <textarea name="data.description">{{ item.data.description }}</textarea>
        </label>
    </section>
</form>