<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" style="height: auto; max-width: 100px; " title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'example.NAME' }}" />
            </h1>
        </section>
    </header>

    <section class="sheet-body mb-2">

        <label class="d-block">
            <span class="label">Category:</span>
            <select name="data.school">
                {{#select item.data.school}}
                    <option value="Combat,Direct">Combat, Direct</option>
                    <option value="Combat,Indirect">Combat, Indirect</option>
                    <option value="Detection">Detection</option>
                    <option value="Health">Health</option>
                    <option value="Illusion">Illusion</option>
                    <option value="Manipulation">Manipulation</option>
                {{/select}}
            </select>
        </label>

        <label class="d-block">
            <span class="label">Range:</span>
            <select name="data.range">
                {{#select item.data.range}}
                <option value="T">Touch</option>
                <option value="LOS">Line of Sight</option>
                <option value="Special">Special</option>
                {{/select}}
            </select>
        </label>

        <label class="d-block">
            <span class="label">Area:</span>
            <input
                    type="checkbox"
                    {{#if item.data.area}}
                    checked="checked"
                    {{/if}}
            name="data.area" value="1"
            />
        </label>

        <label class="d-block">
            <span class="label">Duration:</span>
            <select name="data.duration">
                {{#select item.data.duration}}
                <option value="I">Instantaneous</option>
                <option value="S">Sustained</option>
                <option value="L">Limited</option>
                <option value="P">Permanent</option>
                {{/select}}
            </select>
        </label>

        <label class="d-block">
            <span class="label">Type:</span>
            <select name="data.type">
                {{#select item.data.type}}
                <option value="M">Mana</option>
                <option value="P">Physical</option>
                {{/select}}
            </select>
        </label>

        <label class="d-block">
            <span class="label">Drain Value:</span>
            <input type="number" name="data.drain" value="{{ item.data.drain}}" />
        </label>

        <label class="d-block">
            <span class="label">Description:</span>
            <textarea name="data.description">{{ item.data.description }}</textarea>
        </label>

    </section>
</form>