<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" style="height: auto; max-width: 100px; " title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'example.NAME' }}" />
            </h1>
        </section>
    </header>

    <section class="sheet-body mb-2">

        <label class="d-block">
            <span class="label">Type:</span>
            <select name="data.type">
                {{#select item.data.type}}
                    <option value="bike">Bike</option>
                    <option value="car">Car</option>
                    <option value="truck">Truck/Van</option>
                    <option value="boat">Boat</option>
                    <option value="submarine">Submarine</option>
                    <option value="fixed-wing">Fixed-Wing Aircraft</option>
                    <option value="rotor">Rotorcraft</option>
                    <option value="vtol">VTOL/VSTOL</option>
                    <option value="micro">Micro Drone</option>
                    <option value="mini">Mini Drone</option>
                    <option value="small">Small Drone</option>
                    <option value="medium">Medium Drone</option>
                    <option value="large">Large Drone</option>
                {{/select}}
            </select>
        </label>

        <label class="d-block">
            <span class="label">Handling (Onroad/Offroad):</span>
            <input type="number" class="numeric-input" name="data.handling.onroad" value="{{ item.data.handling.onroad }}" />
            <input type="number" class="numeric-input" name="data.handling.offroad" value="{{ item.data.handling.offroad }}" />
        </label>

        <label class="d-block">
            <span class="label">Acceleration:</span>
            <input type="number" class="numeric-input" name="data.acceleration" value="{{ item.data.acceleration }}" />
        </label>

        <label class="d-block">
            <span class="label">Speed (interval/top):</span>
            <input type="number" class="numeric-input" name="data.speed.interval" value="{{ item.data.speed.interval }}" />
            <input type="number" class="numeric-input" name="data.speed.top" value="{{ item.data.speed.top }}" />
        </label>

        <label class="d-block">
            <span class="label">Body:</span>
            <input type="number" class="numeric-input" name="data.body" value="{{ item.data.body }}" />
        </label>

        <label class="d-block">
            <span class="label">Armour:</span>
            <input type="number" class="numeric-input" name="data.armour" value="{{ item.data.armour }}" />
        </label>
        <label class="d-block">
            <span class="label">Pilot:</span>
            <input type="number" class="numeric-input" name="data.pilot" value="{{ item.data.pilot }}" />
        </label>
        <label class="d-block">
            <span class="label">Sensor:</span>
            <input type="number" class="numeric-input" name="data.sensor" value="{{ item.data.sensor }}" />
        </label>
        <label class="d-block">
            <span class="label">Seats:</span>
            <input type="number" class="numeric-input" name="data.seats" value="{{ item.data.seats }}" />
        </label>

        <label class="d-block">
            <span class="label">Notes:</span>
            <textarea name="data.notes">{{ item.data.notes }}</textarea>
        </label>

        <label class="d-block">
            <span class="label">Description:</span>
            <textarea name="data.description">{{ item.data.description }}</textarea>
        </label>

    </section>
</form>