<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" style="height: auto; max-width: 100px; " title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'example.NAME' }}" />
            </h1>
        </section>
    </header>

    <section class="sheet-body mb-2">

        <label class="d-block">
            <span class="label">Equipped:</span>
            <input
                    type="checkbox"
                    {{#if item.data.equipped}}
                    checked="checked"
                    {{/if}}
            name="data.equipped" value="1"
            />
        </label>

        <label class="d-block">
            <span class="label">Ammo:</span>
            <input type="text" class="numeric-input" name="data.ammo" value="{{ item.data.ammo }}" />
        </label>

        <label class="d-block">
            <span class="label">DV:</span>
            <input type="text" class="numeric-input" name="data.dv" value="{{ item.data.dv }}" />
        </label>

        <label class="d-block">
            <span class="label">Modes:</span>
            <input type="text" name="data.modes" value="{{ item.data.modes }}" />
        </label>

        <label class="d-block">
            <span class="label">Attack Ratings:</span>
            <input type="number" class="numeric-input" name="data.attack_ratings.close" value="{{ item.data.attack_ratings.close }}" />
            <input type="number" class="numeric-input" name="data.attack_ratings.near" value="{{ item.data.attack_ratings.near }}" />
            <input type="number" class="numeric-input" name="data.attack_ratings.medium" value="{{ item.data.attack_ratings.medium }}" />
            <input type="number" class="numeric-input" name="data.attack_ratings.far" value="{{ item.data.attack_ratings.far }}" />
            <input type="number" class="numeric-input" name="data.attack_ratings.extreme" value="{{ item.data.attack_ratings.extreme }}" />
        </label>

        <label class="d-block">
            <span class="label">Description:</span>
            <textarea name="data.description">{{ item.data.description }}</textarea>
        </label>

    </section>
</form>