<div class="col-powers mb-2">
    <h2>
        {{#if isEditable}}
            <button
                    class="btn-sm btn-new"
                    type="button"
                    data-action="add-item"
                    data-item-type="power"
            >
                <i class="fas fa-plus"></i>
            </button>
        {{/if}}

        Powers
    </h2>

    {{#each powers as |power id|}}
    <div>
        {{#if ../isEditable}}
            <button class="btn-sm btn-danger" data-action="delete-item" data-item-id="{{ power.data._id }}" type="button">
                <i class="fas fa-trash"></i>
            </button>

            <button class="btn-sm btn-edit" data-action="edit-item" data-item-id="{{ power.data._id }}" type="button">
                <i class="fas fa-edit"></i>
            </button>
        {{/if}}

        {{ power.data.name }}
        {{#if power.data.data.level }}
        {{ power.data.data.level }}
        {{/if}}
    </div>
    {{/each}}
</div>