<div class="col-settings kv">

    <div class="kv-key-for-input">
        <label for="{{field_id actor 'drain_attribute'}}">
            Drain Attribute:
        </label>
    </div>
    <div class="kv-value">
        <select name="data.settings.drain_attribute" id="{{field_id actor 'drain_attribute'}}">
            {{#select actor.data.settings.drain_attribute}}
                <option value=""></option>
                <option value="Logic">Logic</option>
                <option value="Charisma">Charisma</option>
            {{/select}}
        </select>
    </div>

    <div class="kv-key-for-input">
        <label for="{{field_id actor 'body_calc'}}">
            Body:
        </label>
    </div>
    <div class="kv-value">
        <input type="text" class="numeric-input" name="data.attributes.Body.calc" value="{{ actor.data.attributes.Body.calc }}" />
    </div>

    <div class="kv-key-for-input">
        <label for="{{field_id actor 'agility_calc'}}">
            Agility:
        </label>
    </div>
    <div class="kv-value">
        <input type="text" class="numeric-input" name="data.attributes.Agility.calc" value="{{ actor.data.attributes.Agility.calc }}" />
    </div>

    <div class="kv-key-for-input">
        <label for="{{field_id actor 'reaction_calc'}}">
            Reaction:
        </label>
    </div>
    <div class="kv-value">
        <input type="text" class="numeric-input" name="data.attributes.Reaction.calc" value="{{ actor.data.attributes.Reaction.calc }}" />
    </div>

    <div class="kv-key-for-input">
        <label for="{{field_id actor 'strength_calc'}}">
            Strength:
        </label>
    </div>
    <div class="kv-value">
        <input type="text" class="numeric-input" name="data.attributes.Strength.calc" value="{{ actor.data.attributes.Strength.calc }}" />
    </div>

    <div class="kv-key-for-input">
        <label for="{{field_id actor 'willpower_calc'}}">
            Willpower:
        </label>
    </div>
    <div class="kv-value">
        <input type="text" class="numeric-input" name="data.attributes.Willpower.calc" value="{{ actor.data.attributes.Willpower.calc }}" />
    </div>

    <div class="kv-key-for-input">
        <label for="{{field_id actor 'logic_calc'}}">
            Logic:
        </label>
    </div>
    <div class="kv-value">
        <input type="text" class="numeric-input" name="data.attributes.Logic.calc" value="{{ actor.data.attributes.Logic.calc }}" />
    </div>

    <div class="kv-key-for-input">
        <label for="{{field_id actor 'intuition_calc'}}">
            Intuition:
        </label>
    </div>
    <div class="kv-value">
        <input type="text" class="numeric-input" name="data.attributes.Intuition.calc" value="{{ actor.data.attributes.Intuition.calc }}" />
    </div>

    <div class="kv-key-for-input">
        <label for="{{field_id actor 'charisma_calc'}}">
            Charisma:
        </label>
    </div>
    <div class="kv-value">
        <input type="text" class="numeric-input" name="data.attributes.Charisma.calc" value="{{ actor.data.attributes.Charisma.calc }}" />
    </div>

    <div class="kv-key-for-input">
        <label for="{{field_id actor 'magic_calc'}}">
            Magic:
        </label>
    </div>
    <div class="kv-value">
        <input type="text" class="numeric-input" name="data.attributes.Special.calc" value="{{ actor.data.attributes.Special.calc }}" />
    </div>

    <div class="kv-key-for-input">
        <label for="{{field_id actor 'essence_calc'}}">
            Essence:
        </label>
    </div>
    <div class="kv-value">
        <input type="text" class="numeric-input" name="data.attributes.Essence.calc" value="{{ actor.data.attributes.Essence.calc }}" />
    </div>

    <div class="kv-key-for-input">
        <label for="{{field_id actor 'initiative_calc'}}">
            Initiative:
        </label>
    </div>
    <div class="kv-value">
        <input type="text" class="numeric-input" name="data.initiative.calc" value="{{ actor.data.initiative.calc }}" />
    </div>

    <div class="kv-key-for-input">
        <label for="{{field_id actor 'astral_initiative_calc'}}">
            Astral Initiative:
        </label>
    </div>
    <div class="kv-value">
        <input type="text" class="numeric-input" name="data.astral_initiative.calc" value="{{ actor.data.astral_initiative.calc }}" />
    </div>

    <div class="kv-key-for-input">
        <label for="{{field_id actor 'defenseRating_calc'}}">
            Defense Rating:
        </label>
    </div>
    <div class="kv-value">
        <input type="text" class="numeric-input" name="data.defenseRating.calc" value="{{ actor.data.defenseRating.calc }}" />
    </div>
</div>